<nav class="navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a ui-sref="app.home">home</a>
                        </li>
                        <li> <a ui-sref="app.user">user</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</nav>
<div class="container-fluid">
    <ui-view></ui-view>
</div>